


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  
html, body {
   height: 100%;
   width: 100%;
   padding: 5px;
   box-sizing: border-box;
   -webkit-overflow-scrolling: touch;
}


.demo-table {
  width: 100%;
}



.mat-column-BenificiaryID {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-BenificiaryName {
  font-style: italic;
}

.mat-column-FieldType {
  width: 32px;
  text-align: center;
  font-weight: bold;
}



.mat-column-FieldPurpose {
  width: 32px;
  text-align: center;
  font-weight: bold;
}
.mat-column-FormulaToDriveData {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.mat-column-CreatedBy {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.mat-column-CreatedDate {
  width: 32px;
  text-align: center;
  font-weight: bold;
}