<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Rule Engine </div>
    <div class="list-group list-group-flush">
      <a (click)="OnRouteHome()" class="list-group-item list-group-item-action bg-light">Formula Creation</a>
    
      <a  (click)="onroute()" class="list-group-item list-group-item-action bg-light">Product Mapping</a>

      <a  (click)="FieldMaster()" class="list-group-item list-group-item-action bg-light">Field Master</a>
      <a  (click)="BenificiaryFieldMaster()" class="list-group-item list-group-item-action bg-light">Benificiary Master</a>

    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->
      <img class="styledimg" id="menu-toggle"/>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->


