<!-- <h1 class="some">Formula Creation</h1> -->
<!-- <input type="number"[(ngModel)]="price" placeholder="0.00"> -->
<mat-tab-group>
    <mat-tab label="Facts"> 
    <div style="padding:25px;">
        <div>           
            <mat-label style="padding-right:48px;">Select Product  :</mat-label>
            <mat-form-field style="width:50%;">
                <!-- <select placeholder="Policy Details Fields" (change)="onProductChange(p.value)" #p matNativeControl required>
                    <option *ngFor="let p of Product"  [value]="p.id"> {{p.productName}}</option>
                </select> -->
                <mat-select  placeholder="Select product" (selectionChange)="onProductChange($event.value,$event)">
                    <mat-option *ngFor="let p of Product let i =index" [value]="p.ProductID" >{{p.ProductName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            
            <mat-card class="pcard">
              <mat-label style="padding-right:20px;">List of Policy  Fields    :</mat-label> 
              <!-- <mat-nav-list>
                  <mat-list-item *ngFor="let f of Fields; let i =index">
                      <p matLine>Name: {{f.name}}</p>
                  </mat-list-item>
                </mat-nav-list> -->


                <table class="table table-bordered">
                  <thead>
                    <tr>
                     <td style="display:none">PFMID</td>
        
                     <td style="display:none">ProductID</td>
                     <td style="display:none">id</td>
                     <td>ProductName</td>
                     <td>Field Name</td>
                     <td>Type</td>
                     <td>Description</td>
                     <td style="display:none;">CreatedBy</td>
                     <td style="display:none;">Created Date</td>
                    </tr>
                   
                  </thead>
                       <tbody>
                        <tr *ngFor="let vas of Fields; let i=index;">
                          <td style="display:none">
                            {{vas.PFMID}}
                           
                          </td>

                          <td style="display:none">
                            {{vas.ProductID}}
                           
                          </td>
                          <td style="display:none">
                            {{vas.id}}
                           
                          </td>

                          <td>
                            {{vas.ProductName}}
                           
                          </td>

                          <td>
                            {{vas.name}}
                           
                          </td>
                          <td>
                            {{vas.type}}
                           
                          </td>

                          <td>
                            {{vas.Description}}
                           
                          </td>

                          <td style="display:none;">
                            {{vas.CreatedBy}}
                           
                          </td>

                          <td style="display:none;">
                            {{vas.CreatedDate}}
                           
                          </td>
                         
                        </tr>
                      </tbody>
               </table>
              
          </mat-card>
            
        </div>
       
    </div>
    </mat-tab>
    <mat-tab label="Decision"> 
      <div style="padding:25px;">
      
      
        <div>
            <mat-card>
                <mat-label style="padding-right:20px;">List of Policy Benefits Fields    :</mat-label> 
              
                <table class="table table-bordered">
                  <thead>
                    <tr>
                     <td style="display:none">BFFMID</td>
        
                     <td style="display:none">ProductID</td>
                     <td style="display:none">id</td>
                     <td>ProductName</td>
                     <td>Field Name</td>
                     <td>Type</td>
                     <td>Description</td>
                     <td style="display:none;">Formula</td>
                     <td style="display:none;">CreatedBy</td>
                     <td style="display:none;">Created Date</td>
                     <td>Action</td>
                    </tr>                   
                  </thead>
                  <tbody>
                    <tr *ngFor="let f of Benefits; let i =index">
                      <td style="display:none">
                        {{f.BFFMID}}
                      </td>
                      <td style="display:none">
                        {{f.ProductID}}
                      </td>
                      <td style="display:none">
                        {{f.id}}
                      </td>

                      <td>
                        {{f.ProductName}}
                      </td>

                       <td>
                        {{f.name}}
                      </td>
                      <td>
                        {{f.FieldType}}
                      </td>

                      <td>
                        {{f.Purpose}}
                      </td>
                      <td style="display:none;">
                        {{f.Formula}}
                      </td>

                      <td style="display:none;">
                        {{f.CreatedBy}}
                      </td>

                      <td style="display:none;">
                        {{f.CreateDate}}
                      </td>
                      <td>
                        <button mat-list-item class="btn" (click)="openDialog(f.ProductID,$event)"> Add </button>
                    
                      </td>
                    </tr>
                  </tbody>
              
                </table>
                
                
            </mat-card>
        </div>
    </div>
    
    </mat-tab>
    <mat-tab label="Generate"> Content 3 </mat-tab>
  </mat-tab-group>

<!--   
  <div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div> -->