

<h2>Product Mapping</h2>
<form [formGroup]="form">


<div class="row">
  <div>Product Name</div>
  <div class="col-sm-3">
 <select 
formControlName="ddlProduct" id="ddlProduct" class="select">
<option value="Select">Please select Product Name </option>
<option *ngFor="let i of ProductArr" value={{i.ProductID}}>{{i.ProductName}}</option>
</select>
  </div>
  <div class="col-sm-3">
    <button (click)="onproductField()" class="forcolor">Add Product Field</button> 
      
    </div>

  <div class="col-sm-3">
    <button (click)="onBenificiaryField()" class="forcolor">Add Benificiary Field</button>  
     
    </div>
</div>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-3">
    <table class="table" border="1">
      <thead>
        <tr>
          <td colspan="2" scope="col">
  
            Product Field Details
          </td>
        </tr>
        <tr>
          <td scope="col">ProductID</td>
          <td scope="col">ProductName</td>
        </tr>
      </thead>
           <tbody>
            <tr *ngFor="let item of SelectProductMappingInfo"><td scope="col">{{item.FieldID}}</td><td scope="col">{{item.FieldName}}</td></tr>
          </tbody>
   </table>
  </div>
 <div class="col-sm-3">

  <table class="table" border="1">
    <thead>
      <tr>
        <td colspan="2" scope="col">

          <span>Benificiary Field Details</span>
        </td>
      </tr>
      <tr>
        <td scope="col">BenificiaryID</td>
        <td scope="col">BenificiaryName</td>
      </tr>
    </thead>
         <tbody>
          <tr *ngFor="let item of SelectBenificiaryMappingInfo"><td scope="col">{{item.BenificiaryID}}</td><td scope="col">{{item.BenificiaryName}}</td></tr>
        </tbody>
 </table>
 </div>
 
</div>




  <input type="button" value="Save" (click)="SaveInfo()" class="btn btn-primary">
</form>



<!-- The Modal product Filed Details-->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content1">
    <span class="close" (click)="close()">x</span>
    <div class="modal-header" >
      <h4  id="modal-basic-title" >Product Fields Info</h4>
    </div>
    <div class="modal-body" id="dvid">
        <div class="vas-obs vas-selected" *ngFor="let vas of ProductFieldArr; let i=index;">
            <div class="vas-obs-text checkbox-container">
               
              <input type="checkbox"  id="{{vas.ProductFieldID}}" name="vas_123" value="{{vas.ProductFieldName}}"> {{vas.ProductFieldName}}
            </div>
          </div> 
    </div>
    <div class="modal-footer" >
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="ProductmappingFn()">Add</button>

      <button type="button" class="btn btn-info" (click)="close();">Cancel</button>
    </div>
  </div>

</div>
<!-- The Modal product Filed Details end  -->



<!-- Benificiary Filed Model Start-->
 
<div id="myModalbf" class="modal">

  <!-- Modal content -->
  <div class="modal-content1">
    <span class="close" (click)="this.close2()">x</span>
    <div class="modal-header" >
      <h4  id="modal-basic-title" >Benificiary Fields Info</h4>
    </div>
    <div class="modal-body" id="dvid2">
        <div class="vas-obs vas-selected" *ngFor="let vas of BenificiaryArr; let i=index;">
            <div class="vas-obs-text checkbox-container">
               
              <input type="checkbox"  id="{{vas.ProductBenificiaryID}}" name="vas_0001" value="{{vas.ProductBenificiaryName}}"> {{vas.ProductBenificiaryName}}
            </div>
          </div> 
    </div>
    <div class="modal-footer" >
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="BenificiarymappingFn()">Add</button>
  
      <button type="button" class="btn btn-info" (click)="this.close2();">Cancel</button>
    </div>
  </div>

</div>
<!-- Benificiary Field Model End-->