

<form class="" [formGroup]="form">

  <div class="row">
    <div class="col-sm-6">
      <mat-label style="padding-right:48px;">Filed Name:</mat-label>
  <mat-form-field style="width:50%;">
    <input matInput placeholder="Filed Name" id="txtFieldName" formControlName="txtFieldName">
  </mat-form-field>
      </div>


      <div class="col-sm-6">
        <mat-label style="padding-right:50px;">Type </mat-label>
      
        <mat-form-field style="width:50%;">
         
          <input matInput placeholder="Type" id="txtType" formControlName="txtType">
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-label style="padding-right:50px;">Description </mat-label>
      
        <mat-form-field style="width:50%;">
         
          <input matInput placeholder="Description" id="txtDescription" formControlName="txtDescription">
      
        </mat-form-field>
      </div>

      <div class="col-sm-6">
        <button mat-button class="btn btn-primary" (click)="SaveFieldMaster()">Save</button>
      </div>


  </div>

    <!-- <mat-form-field class="example-full-width">
      <mat-label>Filed Name</mat-label>
      <input matInput placeholder="Filed Name" id="txtFieldName" formControlName="txtFieldName">
    </mat-form-field> -->
  
    <!-- <mat-form-field class="example-full-width">
        <mat-label>Type</mat-label>
        <input matInput placeholder="Type" id="txtType" formControlName="txtType">
      </mat-form-field> -->

      <!-- <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" id="txtDescription" formControlName="txtDescription">
      
      </mat-form-field> -->
      <!-- <button mat-button color="primary" (click)="SaveFieldMaster()">Primary</button> -->
 
     
      <div class="scrollinfo">
      <table mat-table [dataSource]="dataSource" class="table table-bordered" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        
      
        <!-- Name Column -->
        <ng-container matColumnDef="FieldID">
          <th mat-header-cell *matHeaderCellDef> FieldID </th>
          <td mat-cell *matCellDef="let element"> {{element.FieldID}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="FieldName">
          <th mat-header-cell *matHeaderCellDef> FieldName </th>
          <td mat-cell *matCellDef="let element"> {{element.FieldName}} </td>
        </ng-container>
      


        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
        </ng-container>


        <ng-container matColumnDef="CreatedBy">
          <th mat-header-cell *matHeaderCellDef> CreatedBy </th>
          <td mat-cell *matCellDef="let element"> {{element.CreatedBy}} </td>
        </ng-container>

        <ng-container matColumnDef="CreatedDate">
          <th mat-header-cell *matHeaderCellDef> CreatedDate </th>
          <td mat-cell *matCellDef="let element"> {{element.CreatedDate}} </td>
        </ng-container>
        <!-- Symbol Column -->
        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </div>
    </form>
   
    